

// mobile
@media (max-width:576px) {
    .container {
        max-width: 23rem !important;
    }

    .burger-menu {
        display: block !important;
    }

    // header 
    .header-content {
        display: none !important;
    }

    nav {
        display: none;
    }

    // about
    #about {
        .container {
            grid-template-columns: initial !important;

            .left {
                .shape {
                    display: none !important;
                }

                .branch-count {
                    width: 57% !important;
                    left: 151px !important;

                }

                .line {
                    left: 98% !important;
                }
            }

            .right {
                width: 100% !important;

                .title {
                    font-size: 20px !important;
                }

                h2 {
                    font-size: 30px !important;
                }

                .btn {
                    font-size: 1rem !important;
                }
            }
        }

    }

    // hero
    .hero-content {
        background-color: var(--black_60);
        text-align: center;
        margin: var(--fs-14) 0;
        padding: 30px;

        h2 {
            font-size: 3.7rem !important;

            span {
                font-size: var(--fs-3) !important;
            }
        }

        .hero-text {
            font-size: 17px !important;
            line-height: 1.6;
        }

        a {
            font-size: 14px !important;
            padding: 8px 20px !important;
        }
    }

    // service
    #service ul {
        grid-template-columns: repeat(1, 1fr) !important;

    }

    // feature
    #feature {
        .feature-head {
            display: initial !important;

            .btn {
                font-size: var(--fs-11) !important;

            }
        }


        ul {
            grid-template-columns: repeat(1, 1fr) !important;

            .feature-card {
                .card-number {
                    top: 0px !important;
                    left: 36% !important;
                    font-size: 4rem !important;
                }
            }
        }

    }

    #blog {
        uL {
            grid-template-columns: initial !important;
        }
    }

    #newsletter {

        .newsletter-area {
            height: 100vh !important;

            .img {
                width: 100% !important;
                top: 0 !important;
            }

            .newsletter-content {
                display: initial !important;
                top: 55% !important;
                left: 2% !important;

                h2 {
                    font-size: 2rem !important;
                    padding: 30px 0;
                }
            }
        }
    }

    #detail{
        .container{
            display: inherit !important;
            margin-inline: auto !important;
                img{
                    width: 100%;
                }
            .right{
                .services-list {
                    position: initial !important;
                    width: 100% !important;
                    margin-top: var(--fs-4);
                }
            }
        }
    }
    .footer {
        .footer-top {
            display: initial !important;

            li {
                width: 35%;
            }
        }
    }

    .headline {
        .title {
            font-size: 20px !important;
        }

        .subtitle {
            font-size: 25px !important;
        }

        .text {
            font-size: 16px !important;
            width: 100% !important;
        }

    }


}

// tablets
@media (min-width:768px)and(max-width:1180px) {
    .container {
        max-width: 720px !important;
    }

    .burger-menu {
        display: block !important;
    }

    nav {
        display: none !important;
    }

    #about {
        .container {

            grid-template-columns: initial !important;

            .left {
                .shape {
                    display: block !important;
                }

                .branch-count {
                    width: 33% !important;
                    left: 31% !important;
                }

                .line {
                    left: 63.6% !important;
                }
            }

            .right {
                width: 100% !important;

                .title {
                    font-size: 20px !important;
                    margin-block-end: 10px !important;
                }

                h2 {
                    font-size: 35px !important;
                }


            }
        }

    }

    #service ul {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    #feature {
        .feature-head {
            display: initial !important;
        }

        ul {
            grid-template-columns: repeat(2, 1fr) !important;

            .feature-card {
                .card-number {
                    top: 0 !important;
                    left: 36% !important;
                    font-size: 6rem !important;
                }
            }
        }
    }

    #blog {
        ul {
            .card-time {
                font-size: var(--fs-8) !important;

                :first-child {
                    font-size: var(--fs-5) !important;
                }
            }
        }
    }

    .newsletter-area {
        .img {
            top: -12px !important;
        }

        .newsletter-content {
            display: initial !important;
            top: -3% !important;

            h2 {
                font-size: 2rem !important;
                padding: 30px 0;
            }
        }
    }
    .headline {
        .title {
            font-size: 20px !important;
        }

        .subtitle {
            font-size: 30px !important;
        }

        .text {
            margin: 0 0 30px !important;
            font-size: 16px !important;
        }
    }
}

@media (min-width:1024px)and(max-width:1366px) {

    .burger-menu {
        display: none !important;
    }

    nav {
        display: block !important;
    }


    #feature {
        ul {
            margin-block-start: 15% !important;
            grid-template-columns: repeat(3, 1fr) !important;

            .feature-card {
                .card-number {
                    top: -116px !important;
                    left: 5% !important;
                    font-size: 12rem !important;
                }
            }
        }
    }

    .headline {
        .text {
            width: 45% !important;
        }
    }
}

@media (min-width:768px) and (max-width:1366px) {
    .header-contact-icon i {
        font-size: 1.5em !important;
    }

    .header-contact {
        :first-child {
            font-size: 14px !important;
        }

        :last-child {
            font-size: 20px !important;
        }
    }


    .container {

        margin-inline: auto !important;

        .hero-content {
            margin: var(--fs-17) 0;

            h2 {
                font-size: var(--fs-2) !important;

                span {
                    font-size: 5.7rem !important;
                }
            }

            p {
                font-size: 16px !important;
            }

            a {
                font-size: 13px !important;
            }
        }
    }
}