@import '_reset.scss';
@import '_responsive.scss';
@import './partials/mixin';

#breadcrumb-area {
    padding-top: 300px;
    font-family: var(--ff-rubik);
    color: var(--white);

    h1 {
        font-size: var(--fs-4);
        text-transform: capitalize;
        margin-block-end: 10px !important;
    }

    span {
        a {
            color: var(--white);
            font-size: var(--fs-9);
            transition: var(--transition);

            &:hover {
                color: var(--dark-orange);
            }
        }

        i {
            margin: 0 10px;
        }
    }
}

#detail {
    padding: var(--section-padding);

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 90px;
        position: relative;

        .left {
            .content-header {
                @include displayFlex;
                margin-block: 30px;

                .icon {
                    width: 60px;
                    margin-right: 20px;

                    img {
                        width: 100%;
                    }
                }

                h2 {
                    font-size: 36px;
                }
            }

            .content {
                font-size: 17px;
                line-height: 1.7;
                font-family: var(--ff-rubik);

                p {
                    margin-block-end: 15px !important;
                    color: var(--onyx);
                }
            }

            .benefit-services {
                @include displayFlex;
                gap: 20px;

                .benefit-service {
                    width: 30%;
                    background-color: var(--cultured-3);
                    padding: 40px 10px 33px;

                    .icon-box {
                        @include displayFlex;
                        justify-content: center;
                        width: 70px;
                        height: 70px;
                        background: var(--dark-orange);
                        border-radius: 50%;
                        margin: 0 auto 13px;
                        z-index: 1;
                    }

                    .text {
                        text-align: center;
                        font-size: 17px;
                        text-transform: capitalize;
                    }
                }
            }

        }

        .right {
            .services-list {
                background-color: var(--cultured-3);
                padding: 35px 30px 35px;
                position: absolute;
                top: 10%;
                right: 0;
                width: 23%;

                .title {
                    h2 {
                        font-weight: 600;
                        text-transform: capitalize;
                        text-align: center;
                    }
                }

                .sidebar-services-list {
                    li {
                        position: relative;
                        background: var(--white);
                        border-radius: 4px;
                        text-transform: capitalize;
                        transition: all 200ms linear;
                        z-index: 1;
                        margin: 15px 0;

                        a {
                            @include displayFlex;
                            justify-content: space-between;
                            padding: 13px 20px 12px;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 26px;
                            color: #6F7174;
                            .icon {
                                width: 40px;
                                height: 26px;
                                border-radius: 13px;
                                background-color: var(--cultured-3);
                                text-align: center;
                            }
                        }

                        &:hover {
                            background: var(--dark-orange);
                            a {
                                color: var(--black);
                                .icon {
                                    background-color: var(--black);
                                    i {
                                        color: var(--dark-orange);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }


    }
}


//back to top button
.back-top-btn {
    position: fixed;
    bottom: 10px;
    right: 20px;
    background-color: var(--eerie-black);
    color: var(--white);
    font-size: 20px;
    padding: 13px;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
    cursor: pointer;
}

.back-top-btn.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(-10px);
}